<ion-grid>
    <ion-row>
        <ion-col>
            <h1>Admin Console</h1>
            <p>Welcome to the admin console! Here you can manage workouts, exercises, and assets.</p>
            <p>Use the buttons below to navigate to the respective management pages.</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" size-md="4">
            <ion-button expand="block" routerLink="/admin/assets" >
                Manage Assets&nbsp;<ion-icon name="images-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <ion-button expand="block" routerLink="/admin/exercises">
                Manage Exercises&nbsp;<ion-icon name="barbell"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
            <ion-button expand="block" routerLink="/admin/workouts">
                Manage Workouts&nbsp;<ion-icon name="barbell"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>