<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-button fill="clear" (click)="goBackToAllWorkouts()">
            <ion-icon name="arrow-back" color="white"></ion-icon>
        </ion-button>
        <ion-title>{{ workout()?.title }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
    @if(workout() === null) {
        <app-loading-animation></app-loading-animation>
    } @else {
        <ion-grid>
            @if(currentExerciseIndex() === null && !isWorkoutComplete()) {
                <ion-row>
                    <ion-col>
                        <p>Ready to start?</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>{{ workout()?.description }}</p>
                    </ion-col>
                </ion-row>
                @if(workout()?.workoutExercises?.length)
                {
                    <ion-row>
                        <ion-col>
                            <p>Total Exercises: {{ workout()?.workoutExercises?.length }}</p>
                        </ion-col>
                    </ion-row>
                }
            }
            @else if(isWorkoutComplete()) {
                <ion-row>
                    <ion-col>
                        <h2>Workout Complete!</h2>
                        <p>{{ workout()?.title }}</p>
                    </ion-col>
                </ion-row>
            }
            @else if (currentExerciseIndex() !== null) {
                <ion-row>
                    <ion-col>
                        <app-exercise
                        [exercise]="currentExercise()?.exercise ?? null" 
                        [reps]="currentExercise()?.repetitions ?? null"
                        [timer]="currentExercise()?.lengthSeconds ?? null"
                        [exerciseKey]="currentExerciseIndex()"
                        (timerFinished)="nextExerciseOrFinish(null)"
                        ></app-exercise>
                    </ion-col>
                </ion-row>
            }
        </ion-grid>
    }
</ion-content>
@if(currentExerciseIndex() === null && !isWorkoutComplete()) {
    <ion-footer>
        <ion-toolbar>
            <ion-button (click)="startWorkout()" expand="block" class="ion-margin">Start Workout</ion-button>
        </ion-toolbar>
    </ion-footer>
}
@else if(currentExerciseIndex() !== null && !isWorkoutComplete()) {
    <ion-footer>
        <ion-toolbar>
            <div style="display: flex; gap: 12px; padding: 8px 16px;">
                <ion-button (click)="previousExercise($event)" 
                    [disabled]="isFirstExercise()"
                    class="flex-1"
                    expand="block"
                    fill="solid"
                    color="primary">
                    Previous
                </ion-button>
                <ion-button (click)="nextExerciseOrFinish($event)"
                    class="flex-1"
                    expand="block"
                    fill="solid"
                    color="primary">
                    {{isLastExercise() ? 'Finish' : 'Next'}}
                </ion-button>
            </div>
        </ion-toolbar>
    </ion-footer>
} @else if (isWorkoutComplete()) {
    <ion-footer>
        <ion-toolbar>
            <ion-button (click)="startWorkout()" expand="block">Restart Workout</ion-button>
            <ion-button (click)="goBackToAllWorkouts()" expand="block">Back to Workouts</ion-button>
        </ion-toolbar>  
    </ion-footer>
}
