<div class="ion-padding">
  <ion-button fill="outline" (click)="back()">Back</ion-button>
</div>  
@if (asset()) {
  <div class="asset-detail">
    <h1 class="ion-padding">{{ asset()?.title || asset()?.fileKey }}</h1>
    <ion-list>    
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-label slot="end">{{ asset()?.description }}</ion-label>
      </ion-item>  
      <ion-item>
        <ion-label>Content Type</ion-label>
        <ion-label slot="end">{{ asset()?.contentType }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Size</ion-label>
        <ion-label slot="end">{{ asset()?.size | number }} bytes</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tags</ion-label>
        <ion-label slot="end">{{ asset()?.tags }}</ion-label>
      </ion-item>
      @if(asset()){
        <ion-item>
          <ion-label position="stacked">Preview</ion-label>
          <app-asset
            [asset]="asset()"
            [loop]="false"
            [hasControls]="true"
            [isMuted]="false"
          >
          </app-asset>
        </ion-item>
      }
    </ion-list>

    <ion-button expand="block" [routerLink]="['/admin/assets', asset()?.id, 'edit']">Edit</ion-button>
  </div>
} @else {
  <p>{{ error() ? error() : 'Loading asset...' }}</p>
}
